<section>
  <nav>
    <div class="nav-element active">
      ALL ADS
    </div>
    <div class="nav-element">
      MY ADS
    </div>
  </nav>
  <div id="ad-list">

    <ul *ngFor="let saleAd of saleAdList"> <li> {{saleAd.title}} </li> </ul>
    <li></li>
  </div>

</section>
