:host {
  display: grid;
  min-height: 100%;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

#main {
  grid-area: main;
  height: 100%;
}
}
